<%= stylesheet_link_tag "product" %>


<main class="product-container">
    <div class="left-column">
    
        <img src="<%= @product.image %>" alt="<%= @product.image %>" >
    </div>

    <div class="right-column">
        <div class="product-description">
            <h2><%= @product.name %></h2>
            <span><%= @product.category&.name %></span>
            <br>
            <p><%= @product.description %></p>
        </div>

        <div class="product-price">
            <span>$ <%= @product.price %></span>
            <%= link_to "Add to Cart", product_index_path(id: @product.id), class: "btn btn-danger mt-2 cart-btn" %>
        </div>
    </div>
</main>

