<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceDemo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <p class="notice"><%= @notice %></p>
  	<div class="container p-5">
 		<%= yield %>
    </div>
    <div id="footer">
      <div>
        <a href="/about-us" class="">About Us</a>
        <span> | </span>
        <a href="/contact-us" class="">Contact Us</a>
      </div>
      <p class="copy-right">&copy; 2020 All Rights Reserved<p/>
    </div>
  </body>
</html>
