<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceDemo</title>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
  	<div class="container p-5">
 		<%= yield %>
    </div>
    <div id="footer">
      <div>
        <a href="/about-us" class="=">About Us</a>
        <span> | </span>
        <a href="/contact-us" class="">Contact Us</a>
      </div>
      <p class="copy-right">&copy; 2020 All Rights Reserved<p/>
    </div>
  </body>
</html>
